body {
  background-color: aqua;
  text-align: center;
  width: 100vw;
}
.container {
  margin: auto;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  width: 700px;
}
